@font-face { 
	font-family: Alagard;
	src: url('../assets/alagard_by_pix3m-d6awiwp.ttf');
}

@font-face { 
	font-family: Romulus;
	src: url('../assets/bitmap_font_romulus_by_pix3m-d6aokem.ttf');
}

.hidden {
	display:none;
}

.transparent {
	opacity: 0;
}

.evt {
	color: #9F76AB;
		font-family: Alagard;

}

.hoverwindow {
	opacity: 0;
	-webkit-transition: all 2.1s;  
}

.hoverwindow:hover {
	opacity: 1;
	cursor: help;
	
}

.col-fixed {
	position: fixed;
}

.white-text {
	fill: #E7E6F2;
	-webkit-transition: all 2.4s;  
	-webkit-filter: blur(5px);
	font-family: Romulus;

}

.white-text:hover {
  -webkit-filter: blur(0px);
  cursor: help;
	/*filter:url(#blur)*/

}

.content {
	position: relative;
}


.end-title {
	text-align: center;
	font-weight: bold;
	font-size: 120%;
}

.fixed-group {
	position: fixed;
	right: 55px;
	top: 95px;
	width: 40px;
}

.end-caption {
	text-align: center;
	font-style: italic;
	font-size: 80%;
}

.center-block {
	margin: 0 auto;
	display: block;
	width: 200px;
	margin-top: 20px;
}

page {
	display:block;
}




.zipped-up {
	height: 0;
	opacity: 0;
	overflow: hidden;
}

.margin-top-10 {
	margin-top: 10px;
}

.animate {
	-moz-transition: all 0.3s;   
	-webkit-transition: all 0.3s ease-in-out;  
	transition: all 0.3s;  
}

.animate-slow {
	-moz-transition: all 1s;   
	-webkit-transition: all 1s ease-in-out;  
	transition: all 1s;  
}

choice {
	margin-top: 5px;
}


thoughtwindow {
	display: block;
	/*border: 1px solid #1C1A24;*/
	border-radius: 5px 3px 5px 3px;
	width: 100%;
	padding-bottom: 60%;


}

thoughtwindow div {
	height: 85%;
	width: 85%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;


}


.kate-moss {
	width: 0px;
	overflow: hidden;
	display:block;
	float: left;
	opacity: 0;
}

.centerize {
	margin: 0 auto;
	float: none;
}

.ending {
	margin-top: 24px;
	font-family: Alagard;
	font-size: 140%;
}

.full-width {
	width: auto;
	opacity: 1;
}

.chapter-fade {
	opacity: 0.5;
	-webkit-transition: opacity 0.4s ease-in-out;  
}

.chapter-fade:hover {
	opacity: 1
}


@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fade-in-out {
  0%   { opacity: 0; }
  20%   { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes fade-in-at-half {
  0%   { opacity: 0; }
  50%   { opacity: 0; }
  60% { opacity: 1; }
  100% { opacity: 1; }
}


.pull-down-in {
	-webkit-animation: fade-in 1s;
}

.fade-in-after-5 {

	-webkit-animation: fade-in-at-half 10s;

}

.fade-in-slow {
	-webkit-animation: fade-in 3s;
}

.fade-in-after-10 {

	-webkit-animation: fade-in-at-half 20s;

}

.fade-in-out {
	-webkit-animation: fade-in-out 10s;
}

.pull-right-in-slow {
	-webkit-animation: fade-in 3s;
}

@media (max-width: 600px) {
	.fixed-group {
		display: none;
	}

}