@font-face { 
	font-family: Alagard;
	src: url('../assets/alagard_by_pix3m-d6awiwp.ttf');
}

@font-face { 
	font-family: Romulus;
	src: url('../assets/bitmap_font_romulus_by_pix3m-d6aokem.ttf');
}

.hidden {
	display:none;
}

.col-fixed {
	position: fixed;
}

.end-title {
	text-align: center;
	font-weight: bold;
	font-size: 120%;
}

.fixed-group {
	position: fixed;
	right: 55px;
	top: 95px;
	width: 40px;
}

.end-caption {
	text-align: center;
	font-style: italic;
	font-size: 80%;
}

.center-block {
	margin: 0 auto;
	display: block;
	width: 200px;
	margin-top: 20px;
}

page {
	display:block;
}


body {
/*	padding-top: 70px;*/
	padding: 30px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.zipped-up {
	height: 0;
	opacity: 0;
	overflow: hidden;
}

.margin-top-10 {
	margin-top: 10px;
}

.animate {
	-moz-transition: all 0.3s;   
	-webkit-transition: all 0.3s ease-in-out;  
	transition: all 0.3s;  
}

.animate-slow {
	-moz-transition: all 1s;   
	-webkit-transition: all 1s ease-in-out;  
	transition: all 1s;  
}

.opened-up {
	height: auto;
	opacity: 1;
}

.kate-moss {
	width: 0px;
	overflow: hidden;
	display:block;
	float: left;
	opacity: 0;
}

.ending {
	margin-top: 24px;
	font-family: Alagard;
	font-size: 140%;
}

.full-width {
	width: auto;
	opacity: 1;
}

.chapter-fade {
	opacity: 0.5;
	-webkit-transition: opacity 0.4s ease-in-out;  
}

.chapter-fade:hover {
	opacity: 1
}


@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


.pull-down-in {
	-webkit-animation: fade-in 1s;
}

.pull-right-in-slow {
	-webkit-animation: fade-in 3s;
}

@media (max-width: 600px) {
	.fixed-group {
		display: none;
	}

}