.pad-top-10 {
	padding-top: 5rem;
}

@font-face { 
	font-family: Alagard;
	src: url('assets/alagard_by_pix3m-d6awiwp.ttf');
}

@font-face { 
	font-family: Romulus;
	src: url('assets/bitmap_font_romulus_by_pix3m-d6aokem.ttf');
}

body {
	font-family: 'Optima';
	font-size: 2rem;
}

.hidden {
	display:none;
}