
@font-face { 
	font-family: Alagard;
	src: url('assets/alagard_by_pix3m-d6awiwp.ttf');
}

@font-face { 
	font-family: Romulus;
	src: url('assets/bitmap_font_romulus_by_pix3m-d6aokem.ttf');
}

body {
	font-family: 'Optima';
	font-size: 2rem;
}

.hidden {
	display:none;
}

.end-title {
	text-align: center;
	font-weight: bold;
	font-size: 120%;
}

.end-caption {
	text-align: center;
	font-style: italic;
	font-size: 80%;
}

page {
	display:block;
}

body {
/*	padding-top: 70px;*/
	padding: 30px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}